body {
    background-color: darkgrey;
  }

h1, h3, p, ol, ul {
    color: white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

div {
    text-align: center;
    justify-content: space-between;
    display: flex;
  }

 