body {
    background-color: darkgrey;
  }
  h1, h3 {
    color: white;
    margin-left: 20px;
  }
  p, ol, ul {
    color: white;
    margin-left: 20px;
  }
  div {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  
 